fastdtw==0.3.4
imbalanced_learn==0.10.1
imblearn==0.0
matplotlib==3.7.0
numpy==1.23.5
pandas==1.5.3
pyts==0.12.0
scikit_learn==1.2.2
scipy==1.10.0
seaborn==0.12.2
tensorflow==2.12.0
tqdm==4.64.1
tsaug==0.2.1
